@model PagedList<Topic>
@{
    Layout = null;
}
<div class="widget" id="new-topics">
    <div class="widget-title">
        <h3>@Html.Lang("最新主题")</h3>
    </div>
    <div class="widget-body">
        <ul>
            @if (Model.Any())
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    var t = Model[i];
                    <li class="item-@(i + 1)">
                        <span class="tips">@(i + 1)</span>
                        <a href="@Url.Absolute(t.NiceUrl)">@t.Name</a>
                    </li> 
                }
            }
        </ul>
    </div>
</div>