@model Candy.Domain.Models.User
@{
    Layout = "~/Themes/Default/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = Html.Lang("个人主页");
    var avatar = string.Empty;
    if (Model.Avatar.IsNullEmpty())
    {
        avatar = StringUtils.GetGravatarImage(Model.Email, 300);
        if (avatar.IsNullEmpty())
        {
            avatar = DependencyResolver.Current.GetService<Candy.Domain.Interfaces.Services.ISettingsService>().Get(AppConstants.DefaultUserAvatar).Value;
        }
    }
    else
    {
        avatar = Url.Content(Model.Avatar);
    }
}
<div class="forum-panel">
    <div class="page-title">
        <h2>@Html.Lang("动态")</h2>
    </div>
    <div class="feed-list">

    </div>
</div>