@{
}
<div class="mod_navbar">
    <div class="title">
        <h3 class="ng-binding ng-scope">
            <i class="fa fa-tasks"></i>
            @Html.Lang("关于")
        </h3>
    </div>
</div>
<div class="main-content">
    <div class="forum-panel">
        About
    </div>
</div>