@{
    Layout = null;
}
@Html.Action("CreateTopic", "Widget")
<div class="widget" id="hotcategory">
    <ul>
        <li>
            <a href="#"><i class="fa fa-users"></i>关于我们</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-tint"></i>发展历程</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-download"></i>下载中心</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-question"></i>使用帮助</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-empire"></i>联系方式</a>
        </li>
    </ul>
</div>