@{
    var generucMessage = new GenericMessage();
    if(TempData[AppConstants.MessageViewBagName] != null)
    {
        generucMessage = (GenericMessage)TempData[AppConstants.MessageViewBagName];
    }else if(ViewBag.Message != null)
    {
        generucMessage = (GenericMessage)ViewBag.Message;
    }
}
@if(!string.IsNullOrEmpty(generucMessage.Message))
{
    <div class="notifications center-top">
        <div class="alert in fade alert-@generucMessage.MessageType.ToString()">
            <a class="close pull-right">×</a>
            @generucMessage.Message
        </div>
    </div>
}