@{
    ViewBag.Title = Html.Lang("所有版块");
}
<div class="panel">
    <div class="panel-header">
        <h3>@Html.Lang("所有版块")</h3>
    </div>
    <div class="panel-body">
        <table class="cbtable" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>