@model Topic
@{
    ViewBag.Title = Model.Name;
}
<div id="main" class="grid grid-right-300">
    <div class="col-1-300">
        <div class="panel">
            <div class="panel-title">
                <h1>@Model.Name</h1>
            </div>
            <div class="panel-body">
                @Html.Raw(Model.Posts.Where(p => p.PostType == PostType.topic.ToString()).FirstOrDefault().PostContent)
            </div>
        </div>
    </div>
    <div id="sidebar" class="col-2-300">
        @Html.Action("Index", "Widget")
    </div>
</div>