@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
  color:#333;
  background:#fff;
  font-size:14px;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}

/* 如果你的项目仅支持 IE9+ | Chrome | Firefox 等，推荐在 <html> 中添加 .borderbox 这个 class */
html.borderbox *, html.borderbox *:before, html.borderbox *:after {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section{
  margin:0;
  padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section{
  display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video{
  display:inline-block;
  *display:inline;
  *zoom:1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea{
  font:400 1em/1.8 Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

/* 去除 IE6 input/button 多余的空白 */
button, input{
  *width:auto;
  *overflow:visible;

  /* 让 input 和 button 一样高 */
  line-height:normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
  padding:0;
  border:0;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
  border-collapse:collapse;
  border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
  text-align:inherit;
}

/* 去除默认边框 */
fieldset, img{
  border:0;
}

/* 解决 IE6-7 图片缩放锯齿问题 */
img{
  -ms-interpolation-mode:bicubic;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
  display:block;
}

/* 块/段落引用 */
blockquote {
  position:relative;
  color: #999;
  font-weight:300;
  font-family:Avenir, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;;
  border-left:1px solid #1abc9c;
  padding-left:1em;
  margin:1em 3em 1em 2em;
}

@media only screen and ( max-width:640px ){
  blockquote{ margin:1em 0; }
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr{
  border-bottom:1px dotted;
  font-variant:normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr{
  cursor:help;
}

/* 一致的 del 样式 */
del{
  text-decoration:line-through;
}

address, caption, cite, code, dfn, em, th, var{
  font-style:normal;
  font-weight:400;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol{
  list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th{
  text-align:left;
}

q:before, q:after{
  content:'';
}

/* 统一上标和下标 */
sub, sup{
  font-size:75%;
  line-height:0;
  position:relative;
}

:root sub, :root sup{
  vertical-align:baseline; /* for ie9 and other mordern browsers */
}

sup{
  top:-0.5em;
}

sub{
  bottom:-0.25em;
}

/* 让链接在 hover 状态下显示下划线 */
a{ color:#1abc9c; }
a:hover{ text-decoration:underline; }

.typo a{ border-bottom:1px solid #1abc9c; }
.typo a:hover{ border-bottom-color:#555; color:#555; text-decoration:none; }

/* 默认不显示下划线，保持页面简洁 */
ins, a{
  text-decoration:none;
}

/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
 * 要做到更好，向后兼容的话，添加 class="typo-u" 来显示专名号
 * 关于 <u> 标签：http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
 * 被放弃的是 4，之前一直搞错 http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
 * 一篇关于 <u> 标签的很好文章：http://html5doctor.com/u-element/ 
 */
u, .typo-u{
  text-decoration:underline;
}

/* 标记，类似于手写的荧光笔的作用 */
mark{
  background:#fffdd1;
  border-bottom:1px solid #ffedce;
  padding:2px;margin:0 5px;
}

/* 代码片断 */
pre, code{
  font-family:Courier, "Courier New", monospace;
  white-space:pre-wrap;
  word-wrap:break-word;
}

pre{
  background:#f8f8f8;
  border:1px solid #ddd;
  padding:1em 1.5em;
}

/* 一致化 horizonal rule */
hr{
  border:none;
  border-bottom:1px solid #cfcfcf;
  margin-bottom:10px;
  *color:pink; *filter:chroma(color=pink);
  height:10px;
  *margin:-7px 0 2px;
}

/* 底部印刷体、版本等标记 */
small, .typo-small,
  /* 图片说明 */
figcaption{
  font-size:0.9em;
  color:#888;
}

strong, b{font-weight:inherit;color:#000；}

/* 可拖动文件添加拖动手势 */
[draggable]{
  cursor:move;
}

.clearfix:before, .clearfix:after{
  content:"";
  display:table;
}

.clearfix:after{
  clear:both
}

.clearfix{
  zoom:1
}

/* 强制文本换行 */
.textwrap, .textwrap td, .textwrap th{
  word-wrap:break-word;
  word-break:break-all;
}

.textwrap-table{
  table-layout:fixed;
}

/* 提供 serif 版本的字体设置: iOS 下中文自动 fallback 到 sans-serif */
.serif{ font-family:Palatino, Optima, Georgia, serif; }

/* 保证块/段落之间的空白隔行 */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table,
.typo-p, .typo-pre, .typo-ul, .typo-ol, .typo-dl, .typo-form, .typo-hr, .typo-table, blockquote{
  margin-bottom:1.8em;
}

h1, h2, h3, h4, h5, h6{
  font-family:Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight:200;
  color:#000;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6,
.typo-h1, .typo-h2, .typo-h3, .typo-h4, .typo-h5, .typo-h6{
  margin-bottom:0.4em;
  line-height:1.5;
}

.typo h1, .typo-h1{
  font-size:2em;
}

.typo h2, .typo-h2{
  font-size:1.8em;
}

.typo h3, .typo-h3{
  font-size:1.6em;
}

.typo h4, .typo-h4{
  font-size:1.4em;
}

.typo h5, .typo h6, .typo-h5, .typo-h6{
  font-size:1.2em;
}

/* 在文章中，应该还原 ul 和 ol 的样式 */
.typo ul, .typo-ul{
  margin-left:1.3em;
  list-style:disc;
}

.typo ol, .typo-ol{
  list-style:decimal;
  margin-left:1.9em;
}

.typo li ul, .typo li ol, .typo-ul ul, .typo-ul ol, .typo-ol ul, .typo-ol ol{
  margin-top:0;
  margin-bottom:0;
  margin-left:2em;
}

.typo li ul, .typo-ul ul, .typo-ol ul{
  list-style:circle;
}

/* 同 ul/ol，在文章中应用 table 基本格式 */
.typo table th, .typo table td, .typo-table th, .typo-table td .typo table caption{
  border:1px solid #ddd;
  padding:0.5em 1em;
  color:#666;
}

.typo table th, .typo-table th{
  background:#fbfbfb;
}

.typo table thead th, .typo-table thead th{
  background:#f1f1f1;
}

.typo table caption{
  border-bottom:none;
}

/* 去除 webkit 中 input 和 textarea 的默认样式  */
.typo-input, .typo-textarea{
  -webkit-appearance:none;
  border-radius:0;
}

/* 高亮选中 */
::-moz-selection{
  background:#08c;
  color:#fff;
}

::selection{
  background:#08c;
  color:#fff;
}

.typo-em, .typo em, legend, caption{
  color:#000;
  font-weight:inherit;
}

/* Responsive images */
.typo img{ max-width: 100%; }

body {
    background: #e9edf0;
}

.container {
    padding: 0px;
}

a {
    -webkit-transition: all linear .218s;
    -moz-transition: all linear .218s;
    transition: all linear .218s;
}
.no-padding {
    padding:0px;
}
/* Header Begin */
#header {
    background: #364d5d;
    position: fixed;
    width: 100%;
    z-index: 99;
}

    #header #left-nav li + li {
        margin-left: 0px;
    }

    #header #left-nav li a {
        text-shadow: none;
        border-radius: 0px;
        color: #FFF;
        font-size: 14px;
        font-weight: normal;
    }

        #header #left-nav li a:hover {
            background: #2c4251;
        }

    #header #left-nav li.active a, #header #left-nav li.active a:hover {
        background: #5cba3c;
    }

    #header .header-search-form {
        padding: 9px 0px;
    }

        #header .header-search-form .form-control {
            border: none;
            background: #2c4251;
            color: #456174;
            border-radius: 0px;
            font-size: 12px;
            height: 32px;
        }

            #header .header-search-form .form-control:focus {
                box-shadow: none;
                background: #FFFFFF;
            }

        #header .header-search-form .btn {
            background: #20303a;
            color: #FFFFFF;
            border-radius: 0px;
            height: 32px;
            width: 32px;
            font-size: 12px;
            padding: 0px;
        }

    #header #right-nav .header-user a {
        border-radius: 0px;
        padding: 10px;
        background: #2c4251;
    }

        #header #right-nav .header-user a:hover {
            background: #20303a;
        }

        #header #right-nav .header-user a img {
            width: 30px;
            height: 30px;
        }

    #header #right-nav .header-user .dropdown-menu {
        background: #2c4251;
        border-radius: 0px;
        margin: 0px;
        border: none;
        padding: 0px;
    }

        #header #right-nav .header-user .dropdown-menu li {
        }

            #header #right-nav .header-user .dropdown-menu li a {
                color: #FFF;
                font-size: 12px;
                padding: 6px 20px;
            }

            #header #right-nav .header-user .dropdown-menu li.divider {
                background: #20303a;
                margin: 4px 0px;
            }

            #header #right-nav .header-user .dropdown-menu li a:hover {
                background: #5cba3c;
            }

    #header #right-nav .header-login, #header #right-nav .header-register {
        padding: 9px;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
    }

        #header #right-nav .header-login a, #header #right-nav .header-register a {
            border-radius: 0px;
            height: 32px;
            line-height: 32px;
            padding: 0px 15px;
            color: #FFF;
            font-size: 13px;
        }

        #header #right-nav .header-login a {
            background: #20303a;
            color: #456174;
        }

        #header #right-nav .header-register a {
            background: #5cba3c;
        }
/* Header End */
.main-content {
    margin-bottom:50px;
    padding-top:100px;
}
.main-content > .container {
}

.main-content .leftsidebar {
    padding-right:10px;
}

.main-content .content {
    background:#FFFFFF;
}

.main-content .rightsidebar {
    margin-right: -300px;
    width: 300px;
    padding-left:10px;
}

.topics {
}

    .topics .topic {
    }
        .topics .topic > div {
            border-bottom: 1px solid #dcdfe8;
            padding: 15px;
            padding-left: 80px;
        }
    .topics .no-topic {
        border-bottom: 1px solid #dcdfe8;
        padding: 15px;
        text-align: center;
    }

    .topics .topic:hover{
        background: #F8FCFE;
        border-left: 3px solid #5cba3c;
        margin-left: -3px;
    }

    .topics .topic .user-avatar {
        float: left;
        margin-left: -65px;
    }

        .topics .topic .user-avatar a {
            display: block;
            padding: 1px;
        }

            .topics .topic .user-avatar a img {
                width: 48px;
                display: block;
            }

    .topics .topic .topic-info {
        position: relative;
    }

        .topics .topic .topic-info .topic-title {
            margin: 0px;
        }

            .topics .topic .topic-info .topic-title a.tips {
                position: relative;
                margin-right: 5px;
                top: -2px;
            }

            .topics .topic .topic-info .topic-title h2 {
                display: inline;
                font-size: 18px;
                position: relative;
                line-height: 25px;
                top: 1px;
            }

                .topics .topic .topic-info .topic-title h2 a {
                    color: #444;
                }
                    .topics .topic .topic-info .topic-title h2 a:hover {
                        color:#3598db;
                    }

        .topics .topic .topic-info .topic-meta {
            margin-top: 10px;
            font-size: 12px;
            color: #999999;
        }

            .topics .topic .topic-info .topic-meta span {
                margin-right:10px;
            }

                .topics .topic .topic-info .topic-meta span a {
                }

/* Topic */
.meta {
    height: 43px;
    border-bottom: 1px solid #dcdfe8;
    padding-left: 15px;
}

    .meta span {
        color: #999999;
        padding: 11px 3px;
        display: inline-block;
        font-size:12px;
    }

        .meta span i {
            color: #a9abac;
            margin-right: 5px;
        }

        .meta span a {
        }

.topic-context {
    padding: 15px;
    letter-spacing: 1px;
}

.page-title {
    height: 70px;
    border-bottom: 1px solid #dcdfe8;
}

    .page-title h2 {
        margin: 0px;
        font-size: 20px;
        line-height: 70px;
        padding-left: 20px;
    }
    /* 发表主题 */
#topic-form {
}
    #topic-form .form-group {
        margin-bottom:0px;
    }
        #topic-form .form-group #name {
            padding: 17px 10px;
            width: 100%;
            border: none;
            font-size: 20px;
            color: #999999;
            height: 50px;
            border-radius: 0px;
            box-shadow: none;
            text-align:center;
        }
        #topic-form .form-group #name:focus{
            box-shadow: none;
        }
        #topic-form .form-group .simditor {
            border-left:none;
            border-right:none;
        }
            #topic-form .form-group .simditor .simditor-toolbar {
                text-align:center;
            }
                #topic-form .form-group .simditor .simditor-toolbar ul {
                    display:inline-block;
                    margin:0 auto;
                    padding: 5px 0px 10px 6px;
                }
                #topic-form .form-group .simditor .simditor-wrapper.toolbar-floating .simditor-toolbar {
                    top:50px;
                }

.bootstrap-tagsinput {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
  color: #999;
  vertical-align: middle;
  width: 100%;
  line-height: 22px;
  cursor:text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
  min-width:120px;
  color:#999999;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
  padding:6px 10px;
  font-weight:normal;
  line-height:normal;
  border-radius:2px;
  font-size:12px;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.panel {
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #dcdfe8;
    margin-bottom: 0px;
}

    .panel .panel-header {
        border-bottom: 1px solid #dcdfe8;
    }

        .panel .panel-header h3 {
            font-size: 14px;
            padding-left: 20px;
            margin: 0px;
            line-height: 42px;
        }

.tips {
    position: relative;
    display: inline-block;
    padding: 4px 6px 3px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999999;
    border-radius: 0px;
    font-weight: normal;
}

    .tips:empty {
        display: none;
    }

a.tips:hover, a.tips:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.tips-arrow {
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
}

.tips .tips-arrow {
    top: 7px;
    right: -4px;
    border-left: 4px solid #000000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.tips-important {
    background-color: #d9534f;
}

    .tips-important .tips-arrow {
        border-left-color: #d9534f;
    }

.tips-warning {
    background-color: #f89406;
}

    .tips-warning .tips-arrow {
        border-left-color: #f89406;
    }

.tips-success {
    background-color: #56af45;
}

    .tips-success .tips-arrow {
        border-left-color: #56af45;
    }

.tips-info {
    background-color: #3a87ad;
}

    .tips-info .tips-arrow {
        border-left-color: #3a87ad;
    }

.tips-inverse {
    background-color: #4A4A4A;
}

    .tips-inverse .tips-arrow {
        border-left-color: #4A4A4A;
    }

a.tips-important:hover {
    background-color: #d33632;
}

a.tips-info:hover .tips-arrow {
    border-left-color: #d33632;
}

a.tips-warning:hover {
    background-color: #d57f05;
}

    a.tips-warning:hover .tips-arrow {
        border-left-color: #d57f05;
    }

a.tips-success:hover {
    background-color: #49953b;
}

    a.tips-success:hover .tips-arrow {
        border-left-color: #49953b;
    }

a.tips-info:hover {
    background-color: #317292;
}

    a.tips-info:hover .tips-arrow {
        border-left-color: #317292;
    }

a.tips-inverse:hover {
    background-color: #383838;
}

    a.tips-inverse:hover .tips-arrow {
        border-left-color: #383838;
    }

/* Wdiget */
.widget {
    background:#FFFFFF;
    margin-bottom:10px;
}

    .widget .widget-title {
        border-bottom: 2px solid #eee;
            background:#F7F7F7;
            position:relative;
    }
    
    .widget .widget-title .tips {
        position:absolute;
        right:10px;
        top:7px;
    }
        .widget .widget-title h3 {
            border-bottom: 2px solid #5cba3c;
            display: inline-block;
            position: relative;
            bottom: -2px;
            font-weight: normal;
            font-size: 1.075em;
            line-height: 30px;
            margin: 0px;
            color: #555555;
            padding:0px 10px 2px;
        }
    .widget .widget-body {
    }
#newtopic {
    border-bottom: 1px solid #dcdfe8;
    text-align: center;
    padding: 16px 0px;
}

    #newtopic a {
        margin: 20px 0px;
        background: #3598db;
        border: none;
        border-radius: 3px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        width: 160px;
        text-align: center;
        padding: 0px;
    }

        #newtopic a i {
            margin-right: 10px;
        }

#hotcategory {
}

    #hotcategory ul {
        list-style:none;
        padding:0px;
        margin:0px;
    }

        #hotcategory ul li {
            border-radius: 0px;
            border: none;
        }

            #hotcategory ul li a {
                color:#444444;
                display:block;
                padding:8px 10px;
            }
                #hotcategory ul li a i.fa {
                    margin-right:10px;
                    width:20px;
                    text-align:center;
                }
            #hotcategory ul li a:hover {
                color:#3598db;
                text-decoration:none;
                background: #f4f5f9;
                border-left: 3px solid #5cba3c;
                margin-left:-3px;
            }

#hottags {
}

    #hottags ul.widget-tags {
        list-style: none;
        overflow: hidden;
        font-size: 12px;
        margin-right: -6px;
        padding:5px 10px 10px;
    }

        #hottags ul.widget-tags li {
            float: left;
            width: 33.33333%;
            margin-top: 5px;
        }

            #hottags ul.widget-tags li a {
                color: #777;
                display: block;
                margin-right: 6px;
                background-color: #fafafa;
                padding: 0px 8px;
                height: 28px;
                border-left: 1px solid #ededed;
                overflow: hidden;
                line-height:28px;
                font-size:13px;
            }

                #hottags ul.widget-tags li a:hover {
                    color: #fff;
                    background-color: #FF5E52;
                    border-left-color: #FED426;
                    border-left-width: 4px;
                    text-decoration:none;
                }
#new-users {

}
    #new-users ul {
        list-style:none;
        padding:0px 0px 0px 0px;
        margin:0px;
    }
        #new-users ul li {
        }
            #new-users ul li:hover {
                border-left:3px solid #5cba3c;
                margin-left:-3px;
            }
            #new-users ul li > div {
                overflow:hidden;
                padding:10px;
                border-bottom:1px solid #eee;
            }
            #new-users ul li a {
                display:block;
            }
                #new-users ul li a.user-avatar {
                    width:36px;
                    height:36px;
                    float:left;
                    margin-right:10px;
                }
                #new-users ul li a.user-name {
                    display:block;
                    height:20px;
                    line-height:20px;
                    font-size:13px;
                }
                    #new-users ul li a.user-name b {
                        font-weight:500;
                    }
                #new-users ul li a.user-topic {
                    font-size:12px;
                    color:#999999;
                    height:16px;
                    line-height:16px;
                }
#new-topics {
}
    #new-topics ul {
        list-style:none;
        padding:10px;
        margin:0px;
    }
        #new-topics ul li {
            overflow:hidden;
            height:24px;
            margin-bottom:8px;
        }
    #new-topics a {
        font-size:13px;
    }
#new-topics .tips{margin-right: 8px;padding: 3px 7px;top: -2px;}
#new-topics .item-1 .tips{background-color: #FD8C84;}
#new-topics .item-2 .tips{background-color: #7FD75A;}
#new-topics .item-3 .tips{background-color: #60C4FD;}
#new-topics .item-1 a{color: #FD8C84;}
#new-topics .item-2 a{color: #64CA38;}
#new-topics .item-3 a{color: #52BAF5;}
#status ul {
    
}
    #status ul li {
    }
        #status ul li > div {
            padding:10px 10px;
            border-bottom:1px solid #eee;
            position:relative;
        }
        #status ul li:hover {
            border-left:3px solid #5cba3c;
            margin-left:-3px;
            background:#f7f7f7;
        }
        #status ul li .tips {
            position:absolute;
            right:10px;
        }
/* Footer Begin*/
#footer {
    background: #20303a;
    line-height: 50px;
    color: #485d6b;
}

    #footer p {
        margin: 0px;
    }

    #footer a {
        color: #FFF;
    }

    #footer .nav li a {
        color: #FFF;
        border-radius: 0px;
    }

        #footer .nav li a:hover, #header .nav li a:focus {
            background: #2c4251;
        }
/* Footer End */

@media (min-width: 1600px) {
    .container {
        width: 1440px;
    }
}

.row-l-250 {
    margin-left: 250px;
    margin-right: 0px;
}

.col-l-250 {
    width: 250px;
    float: left;
    margin-left: -250px;
}

.col-l-100 {
    width: 100%;
    float: left;
}

.row-r-300 {
    margin-right: 300px;
    margin-left: 0px;
}

.col-r-300 {
    float: right;
    width: 300px;
    margin-right: -300px;
}

.col-r-100 {
    width: 100%;
    float: left;
}

/* bootstrap */
.nav-tabs > li {
    padding: 0px 5px;
}

    .nav-tabs > li > a {
        border-radius: 0px;
        border: none;
        margin: 0px;
        padding: 10px;
    }

        .nav-tabs > li > a:hover,
        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
            border: none;
            color: #555555;
            border-bottom: 3px solid #5cba3c;
            background: #FFFFFF;
        }
